body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}
.medidas{
    width: 500px;
    height: 200px;
}

#typography{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


